<h1>DeepPrivacy</h1>
<h2>Introduction</h2>
<p>
  Rare disorders are defined by an incidence of below 1 in 2000.
  However, due to their sheer number - currently, more than 8000 Mendelian disorders are known
  alone - roughly 3% of the population are affected by a rare disorder.
  the facial gestalt is very informative, sometimes even decisive,
  in the diagnostic process for every second or third patient with a rare disease.
  The performance of next-generation phenotyping (NGP) approaches depends highly on the
  size and diversity of the training dataset. Because collecting a large number of images from
  individuals with rare disorders at a single institution is not feasible, data sharing between
  different sites is crucial, and this is usually done through publication. However, since we are
  re-identifiable by our faces, only about one out of ten patients gives consent. Therefore, we
  propose synthesizing portraits of rare disorders based on real data that can remain local to
  overcome this barrier.
</p>
<p>
  The two overall objectives of our project are to enable data sharing
  while maintaining patient privacy and to explain the decisions made by NGP algorithms.
</p>
<h2>About us</h2>
Make the following parts as two columns
<p>
(put the logo of IGSB)
Institute for Genomic Statistics and Bioinformatics
Universität Bonn
Prof. Dr. Peter Krawitz
Prof. Dr. Shahida Moosa
Tzung-Chien Hsieh
Dr. Tom Kamphans
Alexander Hustinx
Dr. Behnam Javanmardi
Jean-Tori Pantel

</p>
<p>
(put the logo of HCAI or uni Augsburg)
Chair for Human-Centered Artificial Intelligence
Universität Augsburg
Prof. Dr. Elisabeth André
Dr. Tobias Baur
Silvan Mertes
Fabio Hellmann
</p>

<h2>Related projects</h2>
GestaltMatcher DB (link to GMDB, perhaps with logo)
GestaltMatcher paper (link to https://www.nature.com/articles/s41588-021-01010-x)

<h2>Contact us</h2>
If you are interested in our project, please contact Prof. Peter Krawitz (pkrawitz@uni-bonn.de).